---
layout: default
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PCDTSBCK62"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PCDTSBCK62');
</script>

<div class="container">
  <div class="row">
    <div class="col col-7 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <!---div class="page-head"-->
      <div class="page-head-modified">
        <h1 class="page-head__title"><b>{{ page.title | escape }}</b></h1>
      </div>
    </div>
  </div>
</div>

{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <!--div class="image-box">
        <div class="page-image" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      </div-->
      {% if include.display_html_image %}
        <img src= {{site.baseurl}}{{page.image}}>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <!-- begin page -->
      <article class="page">
        <div class="page__content">
          {{ content }}
        </div>
      </article>
      <!-- end page -->
    </div>
  </div>
</div>